@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    @apply flex flex-col items-center gap-1 
        text-center text-gray-600 dark:text-gray-300
        hover:text-teal-500 transition;
}
.sideber-icon {
    @apply text-2xl;
}